.header {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 4;

  display: flex;
  background-color: var(--heading-color);
  color: var(--heading-font-color);
  padding: 0.5em;
}

.logutButton {
  color: var(--heading-font-color);
}

.login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.8em;
}

.user {
  border-width: 2px;
  border-radius: 3em;
  border: solid 1px gray;
  padding: 0.2em;
  display: flex;
  align-items: center;
  cursor: pointer;

  .avatar {
    border-radius: 50%;
    margin-right: 3px;
  }

  .name {
    margin: auto 0.2em;
  }
}

.nav {
  flex: 1;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  .link {
    text-decoration: none;
    margin-right: 1em;
    &.logo{
      margin-right: 0;
    }
    &.selected {
      text-decoration: underline;
      text-underline-position: under;
    }
  }
}
