
.timeline {
  width: min(100%, 40em);
}

.periodTitle {
  background-color: #9999e9;
  text-align: center;
  padding: .2em;
}

.periodContent {
  width: 100%;
  position: relative;
  line-height: 1.3;
  width: calc(100% - 2em);
  margin-inline-start: 2.5em;

  .collapseIcon {
    position: absolute;
    top: .5em;
    left: -1em;
  }

  .periodTransactionAmounts {
    width: inherit;

    th {
      font-weight: 500;
    }

    tbody {
      opacity: 0.8;
    }

    tfoot {
      font-weight: 500;
    }
  }
}

// .periodContent::before {
//   content: " ";
//   height: min-content;
//   position: absolute;
//   width: 5px;
//   background-color: lightgrey;
//   margin-right: 2em;
//   box-sizing: border-box;
//   margin-top: .4em;
// }
