.wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.loginButton {
  display: flex;
  align-items: center;
  font-family: sans-serif;
  border: 1px solid;
  border-radius: 6px;
  cursor: pointer;
  width: 15em;
  padding: 0;
  height: 3em;
  margin-bottom: 1em;
  
  .icon {
    padding: 10px;
  }
}

.googleButton {
  @extend .loginButton;
  background-color: var(--primary-color);
  color: var(--font-color);

  &:hover {
    background: #f0f0f0;
  }
}
