.container {
  display: flex;
  border-radius: 0.7em;
  background-color: inherit;
  padding: 0.6em;

  &.primary {
    background-color: darkseagreen;
  }

  &:hover {
    cursor: pointer;
    filter: contrast(50%);
  }

  &.linkButton {
    margin-left: 0.5em;
    background-color: inherit;
    border: 0;
  }

  &.bordered {
    border: solid 1px;
  }

  .icon {
    height: 1em;
    width: 1em;
    margin-right: 0.4em;
  }
}

.group {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 1em;
  margin-top: 0.3em;

  button {
    margin: 0.7em 0.35em 0 0.35em;
  }

  &.centered {
    justify-content: center;
  }
}
