.container {
  display: flex;
}

.linkButton {
  margin-left: .5em;
  background-color: inherit;
  border: 0;

  &:hover {
    cursor: pointer;
    filter: contrast(50%);
  }

  &.bordered {
    border: solid 1px;
    border-radius: 1em;
    padding: .6em;
  }

  .icon {
    height: 1em;
    width: 1em;
    margin-right: .4em;
  }
}