.container {
  display: flex;
  border-radius: .7em;
  background-color: inherit;
  padding: .6em;

  &.primary {
    background-color: darkseagreen;
  }

  &:hover {
    cursor: pointer;
    filter: contrast(50%);
  }

  &.bordered {
    border: solid 1px;
  }

  &.linkButton {
    margin-left: .5em;
    background-color: inherit;
    border: 0;
  }

  .icon {
    height: 1em;
    width: 1em;
    margin-right: .4em;
  }
}
