.wrapper {
  display: grid;
  height: 100vh;
  grid-template-rows: [col1-start] 5% [col2-start] 5% [col3-start] 1fr [col4-start] 20% [col5-start] 5% [col5-end];
  grid-template-columns: [col1-start] max(1em, 5%) [col2-start] auto [col3-start] max(1em, 5%) [col3-end];
}

.header {
  grid-row-start: 1;
  grid-column-start: 2;
  a {
    margin-right: 2em;
  }
  display: inline-grid;
}

.login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.user {
  border-width: 2px;
  border-radius: 3em;
  border: solid 2px gray;
  padding: .2em;
  display: flex;
  align-items: center;

  .avatar {
    border-radius: 50%;
    margin-right: 3px;
  }

  .name {
    margin: auto .2em
  }
}

.nav {
  grid-row-start: 2;
  grid-column-start: 2;
  a {
    margin-right: 2em;
  }
}

.content {
  grid-column-start: 2;
  grid-row-start: 3;
}

.footer {
  grid-column-start: 2;
  grid-row-start: 4;
}

.linkButton {
  margin-left: .5em;
  background-color: inherit;
  border: 0;

  &:hover {
    cursor: pointer;
    filter: contrast(50%);
  }

  &.bordered {
    border: solid 1px;
    border-radius: 1em;
    padding: .6em;
  }
}