.form {
  display: flex;
  flex-direction: column;
  max-width: 20em;
  margin: auto;
  font-size: 1.3em;

  .field {
    margin-top: 1em;

    label {
      width: 5em;
      display: inline-block;
      text-align: end;
      margin-right: .7em;
    }

    input[type="date"], input[type="text"] , input[type="number"]{
      width: 10em;
    }
  }

  .submitButton {
    align-self: center;
    margin-top: 1em;
    font-size: 1em;
  }

  .clearInput {
    display: inline-block;
    margin-left: .2em;
    vertical-align: middle;
    color: rgb(251 131 131);
    cursor: pointer;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }
}