.mortgageProgramRow {
  margin-bottom: 1em;
  padding: 0 0 0.5em 1em;
  border: 1px #80808080 solid;
  border-radius: 1em;
  width: fit-content;
}

.mortgageProgramBasic {
  display: flex;
  flex-wrap: wrap;
}

.mortgageProgramAdvance {

}
.mortgageSummery {
  display: flex;
  flex-wrap: wrap;
}

.advanceOptionCollapse {
  display: flex;
  align-items: center;
  font-size: 0.8em;

  .arrow {
    margin-right: 0.5em;
  }
}

.mortgageProgramAdvanceOption{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 2em;
  margin-top: -1em;
}

.removeButtonContainer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex: 1;
}

.removeButton {
  font-size: 1.5em;
  padding: .3em;
}