.mortgageProgramRow {
  // margin-bottom: 1em;
  // padding: 0 0 0.5em 1em;
  // border: 1px #80808080 solid;
  border-radius: 1em;
  width: fit-content;
}

.mortgageProgramBasic {
  display: flex;
  flex-wrap: wrap;
}

.mortgageProgramAdvance {
}

.advanceOptionCollapse {
  display: flex;
  align-items: center;
  font-size: 0.8em;

  .arrow {
    margin-right: 0.5em;
  }
}

.mortgageProgramAdvanceOption {
  margin-left: 2em;
  margin-top: -1em;
}

.mortgageProgramAdvanceOptionBlock {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.removeButtonContainer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex: 1;
}

.removeButton {
  font-size: 1.5em;
  padding: 0.3em;
}

.actionBar {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 1em;
}

.amortizationCharts {
  display: flex;
  height: 40vh;
  justify-content: space-around;
  flex-wrap: wrap;

  & div {
    max-width: 45em;
  }
}
