
.timeline {
  width: min(100%, 40em);
  margin: auto;
}

.periodTitle {
  background-color: var(--timeline-period-color);
  text-align: center;
  padding: .2em;
}

.periodContent {
  width: calc(100% - 2.5em);
  position: relative;
  line-height: 1.3;
  margin-inline-start: 2.5em;

  .collapseIcon {
    position: absolute;
    top: .5em;
    left: -1em;

    @at-root [dir="rtl"] & {
      left: auto;
      right: -1em;
    }
  }

  .periodTransactionAmounts {
    width: inherit;

    th {
      font-weight: 500;
    }

    tbody {
      opacity: 0.8;
    }

    tfoot {
      font-weight: 500;
    }

    .amount {
      text-align: right;
    }
  }
}

// .periodContent::before {
//   content: " ";
//   height: min-content;
//   position: absolute;
//   width: 5px;
//   background-color: lightgrey;
//   margin-right: 2em;
//   box-sizing: border-box;
//   margin-top: .4em;
// }
