.field {
  margin-top: 1em;
  margin-right: 1em;
  
  label {
    width: auto;
    margin-left: 0.3em;
    margin-bottom: 0.2em;
    display: block;
    white-space: nowrap;
  }
  
  &.horizontal {
    display: flex;
    align-items: center;
    label {
      margin-right: 0.5em;
      width: auto;
    }
  }

  input {
    outline: none;
  }

  input[type='date'],
  input[type='text'],
  input[type='number'],
  select {
    width: 11em;
    padding: 0.6em;
    border: 1px solid;
    border-radius: 0.7em;
    background-color: white;

    &:disabled {
      background-color: rgba(59, 59, 59, 0.3);
      opacity: 1;
    }
  }

  input[type='date'] {
    padding: 0.525em;

    &::-webkit-calendar-picker-indicator {
      width: 1em;
      padding: 0px;
      margin: 0px;
      margin-top: 0px;
    }
  }
  select {
    padding: 0.525em;
  }

  div {
    width: 9.1667em;
    padding: 0.532em;
  }
}