.form {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  
  hr {
    width: 100%;
    border: 0;
  }
  
  &.submitted {
    input, select {
      &:required:invalid {
        outline: none;
        border-color: #c00000;
        box-shadow: inset 0px 0px 0px 1px #c00000;
      }
      
      &:required:invalid + span {
        position: absolute;
      }
      
      &:required:invalid + span::after {
        content: '!';
        top: 0.4em;
        position: absolute;
        right: 1.5em;
        color: #c00000;
        border: #c00000 solid 1px;
        border-radius: 50%;
        padding: 0 0.4em;
        font-size: 1em;
        font-weight: 700;
      }
    }
  }
  
  .submitButton {
    align-self: center;
  }
}

.field {
  margin-top: 1em;
  margin-right: 1em;
  
  label {
    width: auto;
    margin-left: 0.3em;
    margin-bottom: 0.2em;
    display: block;
    white-space: nowrap;
  }
  
  &.horizontal {
    display: flex;
    align-items: center;
    label {
      margin-right: 0.5em;
      width: auto;
    }
  }

  input {
    outline: none;
  }

  input[type='date'],
  input[type='text'],
  input[type='number'],
  select {
    width: 11em;
    padding: 0.6em;
    border: 1px solid;
    border-radius: 0.7em;
    background-color: white;

    &:disabled {
      background-color: rgba(59, 59, 59, 0.3);
      opacity: 1;
    }
  }

  input[type='date'] {
    padding: 0.525em;

    &::-webkit-calendar-picker-indicator {
      width: 1em;
      padding: 0px;
      margin: 0px;
      margin-top: 0px;
    }
  }
  select {
    padding: 0.525em;
  }

  div {
    width: 9.1667em;
    padding: 0.532em;
  }
}

.section {
  padding: 0 0 0.5em 1em;
  border: 1px #80808080 solid;
  margin-bottom: 1em;
  border-radius: 1em;  
  
  >label {
    padding: 0.5em 0 0 0.2em;
    display: block;
    font-size: 1.2em;
    margin-bottom: -0.2em;
    text-decoration: underline;
    text-underline-position: from-font;
  }
  
  .sectionItems {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;

    &.vertical {
      flex-direction: column;
    }
  }
}
