.balanceDisclaimer {
  cursor: pointer;
  font-size: 0.8em;
  opacity: 0.8;
  margin-left: auto;
  white-space: nowrap;
}

.buttonsPanel {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
}