
.footer {
  grid-column-start: 2;
  grid-row-start: 4;
}

.transactionTable {
  border-collapse: collapse;
  width: 100%;
  line-height: 2;
  
  .tableHeader {
    background-color: darkslategrey;
    color: white;
  }
  
  .tableRow {
    cursor: pointer;
    text-align: center;

    &:nth-of-type(even) {
      background-color:lightgrey;
      &:hover {
        background: darken(lightgrey, 10%);
      }
    }

    &:nth-of-type(odd) {
      background-color:white;
      &:hover {
        background: darken(white, 10%);
      }
    }
  }
}
  