.status {
  height: 85vh;
  display: flex;
  flex-direction: column;
}

.first {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  position: relative;

  .smallTickers {
    margin-top: 0.5em;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: normal;
  }
}

.graphs {
  flex: 1;
  display: grid;
  grid-template-rows: repeat(auto-fill, 320px);
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-column-gap: 0.5em;
}

.lineChart {
}
.barChart {
}
.timeline {
  grid-column-start: 1;
  width: calc(100vw - 20%);
}

.filterPanel {
  display: flex;
}
