.form {
  display: flex;
  flex-wrap: wrap;
  max-width: 21em;
  margin: auto;

  hr {
    width: 100%;
    border: 0;
  }

  &.submitted {
    input:required:invalid {
      outline: none;
      border-color: #c00000;
      box-shadow: inset 0px 0px 0px 1px #c00000;
    }

    input:required:invalid + span {
      position: absolute;
    }

    input:required:invalid + span::after {
      content: "!";
      top: 0.4em;
      position: absolute;
      right: 1.5em;
      color: #c00000;
      border: #c00000 solid 1px;
      border-radius: 50%;
      padding: 0 0.4em;
      font-size: 1em;
      font-weight: 700;
    }
  }

  .field {
    margin-top: 1em;
    margin-right: 1em;

   label {
      width: 5em;
      margin-left: 0.3em;
      margin-bottom: 0.2em;
      display: block;
      white-space: nowrap;
    }

    input {
      outline: none;
    }

    input[type='date'],
    input[type='text'],
    input[type='number'],
    select {
      width: 11em;
      padding: 0.6em;
      border: 1px solid;
      border-radius: 0.7em;
      background-color: white;

      &:disabled {
        background-color: rgba(59, 59, 59, 0.3);
        opacity: 1;
      }
    }

    input[type='date'] {
      padding: 0.525em;

      &::-webkit-calendar-picker-indicator {
        width: 1em;
        padding: 0px;
        margin: 0px;
        margin-top: 0px;
      }
    }
    select {
      padding: 0.525em;
    }
  }

  .repeatedField {
    margin-top: 1em;
    margin-right: 1em;
    width: 100%;
    display: inline-block;
  }

  .submitButton {
    align-self: center;
    margin-top: 1em;
    font-size: 1em;
    margin: auto;
  }

  .clearInput {
    display: inline-block;
    margin-left: 0.2em;
    vertical-align: middle;
    color: rgb(251 131 131);
    cursor: pointer;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }
}
